* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgb(0, 68, 255), rgb(0, 238, 255), rgb(255, 255, 255));
    text-align: center;
    height: 100vh;
    display: grid;
    place-items: center;
}

.boxlist {
    background-color: rgb(255, 255, 255);
    border: none;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 10px 5px 5px black;
    overflow-y: scroll;
}

.boxlist .done {
    text-decoration: line-through;
    color: green;
}

.tdiv {
    width: 400px;
    box-shadow: 10px 5px 5px black;
}

.boxCentral {
    background-color: rgb(83, 83, 83);
    width: 650px;
    height: 650px;
    border-radius: 15px;
    place-items: center;
    display: grid;
    box-shadow: 10px 5px 5px black;
}

button {
    border: none;
    background: none;
}

img {
    width: 20px;
    height: 20px;
}